
body{
    background-color: rgb(211, 201, 201);
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

h1{
    text-shadow: 0 0 5px white;
}

#btn{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}